---
http_interactions:
- request:
    method: get
    uri: https://www.flickr.com/services/rest?api_key=<FLICKR_KEY>&content_type=1&format=json&geo_context=2&method=flickr.photos.search&nojsoncallback=1&safe_search=1&tags=denver,co%20skyline%20city&text=denver,co%20skyline
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":1,"perpage":250,"total":"57","photo":[{"id":"43691964192","owner":"8121206@N07","secret":"4ff507454d","server":"930","farm":1,"title":"Denver
        Skyline","ispublic":1,"isfriend":0,"isfamily":0},{"id":"43261941242","owner":"11581147@N06","secret":"9d1cd14c20","server":"844","farm":1,"title":"Jefferson
        County, Colorado Sheriff_P1030176c","ispublic":1,"isfriend":0,"isfamily":0},{"id":"43261940402","owner":"11581147@N06","secret":"083afb5389","server":"1786","farm":2,"title":"Denver
        Skyline from CO-93_P1030095c","ispublic":1,"isfriend":0,"isfamily":0},{"id":"38743877730","owner":"25273938@N03","secret":"16ff5076b3","server":"4623","farm":5,"title":"Whitetail
        Buck[...]
