---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,co&key=<GOOGLE_GEOCODING_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 03 Mar 2020 17:17:18 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_KEY>/39.7392358,-104.990251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 11ms
      X-Forecast-Api-Calls:
      - '203'
      X-Response-Time:
      - 63.738ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1583255839,"summary":"Clear","icon":"clear-day","nearestStormDistance":265,"nearestStormBearing":190,"precipIntensity":0,"precipProbability":0,"temperature":51.54,"apparentTemperature":51.54,"dewPoint":17.02,"humidity":0.25,"pressure":1011.9,"windSpeed":1.38,"windGust":8.44,"windBearing":33,"cloudCover":0,"uvIndex":3,"visibility":10,"ozone":337.5},"minutely":{"summary":"Clear
        for the hour.","icon":"clear-day","data":[{"time":1583255820,"precipIntensity":0,"precipProbability":0},{"time":1583255880,"precipIntensity":0,"precipProbability":0},{"time":1583255940,"precipIntensity":0,"precipProbability":0},{"time":1583256000,"precipIntensity":0,"precipProbability":0},{"time":1583256060,"precipIntensity":0,"precipProbability":0},{"time":1583256120,"precipIntensity":0,"precipProbability":0},{"time":1583256180,"precipIntensity":0,"precipProbability":0},{"time":1583256240,"precipIntensity":0,"precipProbability":0},{"t[...]
